@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.rdt_TableHead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.react-calendar__tile--now {
  border: 2px solid green !important;
  border-radius: 100%;
  background: transparent !important;
  font-weight: bold !important;
}

.react-calendar__tile {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  color: black !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaflet-popup-close-button {
  margin: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px !important; /* make it bigger */
  width: 24px !important; /* increase clickable area */
  height: 24px !important;
  color: gray !important; /* darker color */
}

/* Reduce default popup <p> spacing */
.leaflet-popup-content p {
  margin: 10px 0 !important; /* instead of 1em */
  line-height: 1.3; /* tighter line spacing */
}

/* Fix CKEditor bullet list visibility across Windows & macOS */

/* Table Borders in CKEditor Output */
.ck-content table {
  border-collapse: collapse !important;
  width: 100%;
}

.ck-content table, 
.ck-content th, 
.ck-content td {
  border: 1px solid #000 !important;
}

.ck-content th, 
.ck-content td {
  padding: 8px !important;
}

.ck-content .table {
  border: 1px solid #000 !important;
}
.ck-content .table td,
.ck-content .table th {
  border: 1px solid #000 !important;
}

/* List in CKEditor Output */
.ck-content ul,
.ck-content ol {
  list-style-position: outside !important;
  margin-left: 1rem !important;
  padding-left: 1rem !important;
}

.ck-content li {
  display: list-item !important;
  margin-bottom: 0.4rem;
}

/* Optional - improve spacing and readability */
.ck-content p {
  font-size: 1rem !important;
  margin-bottom: 0.75rem;
  line-height: 1.3;
}

.ck-content h1 {
  font-size: 2rem !important;
  font-weight: bold;
}

.ck-content h2 {
  font-size: 1.6rem !important;
  font-weight: bold;
}

.ck-content h3 {
  font-size: 1.3rem !important;
  font-weight: bold;
}

.ck-content h4 {
  font-size: 1.1rem !important;
  font-weight: bold;
}

.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4 {
  line-height: 1.3 !important;
}
